<div id="container">
  <strong>{{ name }}</strong>
  <p>Hello Carmmunity</p>
  
  <p>Feel free to use the buttons below to notify me about the question in the header bar!</p>
  <div style="display: flex;justify-content: center;">
    <ion-button expand="full" color="secondary" (click)="hired()">Yes<ion-icon name="happy-outline"></ion-icon></ion-button>
    <ion-button expand="full" color="secondary" (click)="maybeNextTime()">No<ion-icon name="sad-outline"></ion-icon></ion-button>
  </div>
</div>