<ion-header [translucent]="true">
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.0/mapbox-gl.css' rel='stylesheet' />
  <ion-toolbar>
    <ion-title>
      Mapbox
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mapbox</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
      <ion-card-title>Static Map</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="map" style="height: 400px;">Click "Get Map" to see Minneapolis</div>
      <div style="display: flex;">
        <ion-button size="small" color="secondary" (click)="requestMap()">Get Map<ion-icon name="map-outline"></ion-icon></ion-button>
        <ion-button size="small" color="secondary" (click)="addMplsMarker()" disabled={{addMarkerDisabled()}}>Add Marker<ion-icon name="add-outline"></ion-icon></ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
  